@import "../../styles/colors.scss";

.container {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 1em 0;
}

.currentJobHeader {
  text-align: center;
  color: $sand;
}

.job {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $whitesmoke;
  min-width: 12.5em;
  .company {
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .jobTitle {
    margin: 1rem 0 0.3rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
  }
  .jobDate {
    margin: 0;
  }
}

.companyTechnologies {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 12.5em;
  .technologiesHeader {
    font-weight: 600;
    color: $whitesmoke;
    text-align: center;
    font-size: 1.2rem;
  }
}

.technologies {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 1em 0;
}

.technology {
  display: flex;
  flex: 1 0 26%; /* explanation below */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-width: 5rem;
  color: $whitesmoke;
  &:nth-child(1n + 4) {
    margin-top: 1rem;
  }
}

.technologyName {
  margin-top: 0;
  font-weight: bold;
}
