@import '../../styles/colors.scss';

.container{

}

.aboutmeHeader{
  text-align: center;
  margin-bottom: 0;
  color: $sand;
}

.aboutmeText{
  margin-top: .4rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: $whitesmoke;
}