@import '../../styles/colors.scss';

.container{
  display: flex;
  flex: 1;
  flex-direction: column;
  
  .githubHeader{
    text-align: center;
    margin-bottom: 0;
    color: $sand;
  }

  .context{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    .githubContext{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      color: $whitesmoke;
      min-width: 15em;
      .githubNameContainer{
  
        .githubName{
          text-align: center;
          cursor: pointer;
        }
      }
      .row{
        display: flex;
        flex: 1;
        .col{
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: space-around;
          justify-content: center;
          // margin: 0 .5rem;
          cursor: pointer;
          .githubAttributeHeader{
            text-align: center;
            margin: .5rem 0 0 0;
          }
          .githubAttribute{
            text-align: center;
          }
        }
      }
    }

    .logoContainer{
      display: flex;
      flex: 1;
      justify-content: center;
      align-self: center;
      min-width: 10rem;
      .githubLogo{
        font-size: 7rem;
        color: $sand
      }
    }
  }
}


.link{
  color: $whitesmoke;
  &:hover{
    text-decoration: none;
  }
}