@import '../../styles/colors.scss';

.container{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem 0;
  
  .githubHeader{
    text-align: center;
    margin-bottom: 0;
    color: $sand;
  }

  .context{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    .githubContext{
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      color: $whitesmoke;
      min-width: 15em;
      .githubNameContainer{
        display: flex;
        flex: 1;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        .githubName{
          text-align: center;
          cursor: pointer;
          font-weight: bold;
        }
      }
      .row{
        display: flex;
        flex: 1;
        .col{
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: space-around;
          justify-content: center;
          cursor: pointer;
          &:nth-child(2){
            margin: 0 1rem;
          }
          .githubAttributeHeader{
            text-align: center;
            margin: .5rem 0 0 0;
            font-weight: bold;
            font-size: 1.2em;
          }
          .githubAttribute{
            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
          }
        }
      }
    }

    .logoContainer{
      display: flex;
      flex: 1;
      justify-content: center;
      align-self: center;
      min-width: 10rem;
      .githubLogo{
        font-size: 7rem;
        color: $sand
      }
    }
  }
}


.link{
  display: flex;
  flex-direction: column;
  color: $whitesmoke;
  &:hover{
    text-decoration: none;
  }
}