@import "../../styles/colors.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .postHeader {
    font-size: 1.6rem;
    color: $sand;
  }

  .postContext {
    font-size: 1.1rem;
    color: $whitesmoke;
  }

  .commentsSection {
    .comment {
      .commentAuthor {
      }
    }
  }
}

.spinnerContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
