@import "../../styles/colors.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .postHeader {
  }

  .postContext {
  }

  .commentsSection {
    .comment {
      .commentAuthor {
      }
    }
  }
}
